#d4 {
    height: 90px;
    width: 100%;
    background-color: rgb(6, 46, 21);
    /* border: black 2px solid; */
    /* background-image: url('./images/cofee.jpg');
    background-size: cover; */
    position: sticky;
    top: 10px;
    color: green;
    display: flex;
    

}
#c2-1{
    width: 25%;
    height: 100%;
}
#c2-2{
    width:75%;
    height: 100%;
    /* margin-left: 50%; */
}



#d1 {
    height: 400px;
    display: flex;
    justify-content: space-between;
}
.g-1{
    height: 100%;
    width: 74%;
    background-image: url('./images/tlcb.jpg');
    background-size: cover;
    

}
.g-2{
    height: 85%;
    width: 25%;
    border-radius: 20px;
    border:rgb(12, 58, 12) 5px solid;
    background-color: rgb(226, 235, 226);
    margin-top: 40px;

}
.btn{
    background-color: green;
}
#btn{
    background-color: rgb(52, 52, 216);
}


    

p{
    text-align: center;
}
form{
    text-align: center;
}

#d2 {
    height: 400px;
    /* width: 100%; */
    background-color: orangered;
    background-image: url('./images/tp.jp');
    background-size: cover;
    display: flex;

}
.col-1{
    height: 100%;
    width: 20%;
    background-color: rgb(20, 22, 24);
    background-image: url('./images/tp.jpg');
    background-size: cover;
    opacity: 0.8;

}
.col-2{
    height: 100%;
    width: 50%;
    background-color: rgb(222, 228, 233);
    border: brown 2px solid;
  

}
.col-2:hover{
    color:white;
    background-color:rgb(6, 46, 21);

}
.col-3{
    height: 100%;
    width: 30%;
    background-color: rgb(15, 71, 121);
    background-image: url('./images/cofee\ bean.jpg');
    background-size: cover;
    opacity: 0.8;


}
h2{
    color: rgb(184, 154, 89);
    text-align: center;
}


#d3 {
    height: 400px;
    /* width: 100%; */
    background-color: rgb(6, 46, 21);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.coi{
    height: 350px;
    width: 22%;
    background-color: rgb(8, 116, 71);
    padding: 20px;

}

a {
    color: rgb(146, 116, 17);
    font-size: x-large;
    /* margin-left: 50%; */
}

h1 {
    color: rgb(23, 167, 54);
    font-size: xx-large;
    /* text-align: end; */
}

img {
    height: 80%;
    width: 100%;
}


#g1{
    height: 100%;
    width:80%;
}
#k1{
    height: 350px;
    background-color: white;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.j{
    background-color: rgb(6, 46, 21);
    height:250px;
    width: 25%;
    border-radius: 40px;
    padding: 20px;
    opacity:0.8;
}
#t1{
    height: 250px;
    background-color: white;
    border: rgb(6, 46, 21)2px solid;
    padding: 50px;
}
#m1{
    width: 80%;
    height: 30%;
}
.coi-1{
color: rgb(231, 238, 228);
    padding: 20px;
}
.coi-2{
    color: rgb(231, 238, 228);
        padding: 20px;
    }
    .coi-3{
        color: rgb(231, 238, 228);
            padding: 20px;
        }
        .coi-4{
            padding: 20px;
        }




